* {
	outline: none;
	border: 0;
}
.cb {
	clear: both;
}

header,
footer,
aside,
nav,
article,
section,
hgroup {
	display: block;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

html {
	background: url(../images/backgrounds/bg-right.gif) #fff no-repeat right top;
	overflow-y: scroll;
}
body {
	background: url(../images/backgrounds/bg-left.gif) no-repeat left top;
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 10px;
}
a {
	color: #131313;
	text-decoration: none;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container>header {
	height: 70px;
	border-bottom: 1px solid #373737;
	padding: 24px 5px 0 5px;
	position: relative;
}
.container>header span {
	font-size: 13px;
	float: right;
	margin-top: 17px;
}

.small {
	padding: 0 17px;
	margin: -20px 0;
}
.small h1 {
	margin: 0;
	height: 40px;
}

#content {
	padding: 20px 13px;
}
.string {
	max-width: 978px;
	width: 80%;
	margin-bottom: 61px;
}
.work {
	width: 18%;
	height: 236px;
	min-width: 242px;
	float: left;
}
.work a:hover {
	color: #00b0ca;
}
.work ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.work li {
	display: inline;
}
.work li:after {
	content: ', ';
}

.work li:last-child:after {
	content: '';
}

.about {
	width: 58%;
	float: right;
	color: #666;
	text-align: justify;
	line-height: 18px;
}
.about h2 {
	border-bottom: 1px solid #595959;
	margin: 0;
}
.gallery .box {
	float: left;
	margin: 14px;
	position: relative;
	width: 335px;
	height: 199px;
}
.gallery .box img{
	width: 335px;
height: 199px;

}



.gallery .desc {
	padding: 3px 5px;
	height: 27px;
	background: url(../images/backgrounds/dot.png);
	position: absolute;
	bottom: 0px;
	width: 325px;
	color: #fff;
	font-size: 12px;
	line-height: 13px;
	overflow: hidden;
}
.gallery .desc b {
	font-size: 14px;
}
.gallery .desc p {
	margin: 0;
}
footer {
	height: 90px;
	background: #202020;
	text-align: center;
	color: #595959;
	position: relative;
}
footer img {
	float: right;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
footer span {
	width: 100%;
	display: block;
	float: left;
}
h2 {
	font-size:16px;
}
.contact {
	margin: 40px 0 90px 0;
	font-size: 12px;
}
.contact a {
	margin-right: 20px;
}
.error {
	display: block;
	margin: 40px auto;
}
.sorting {
	float: right;
	position: absolute;
	right: 0;
}
.sorting ul {
	margin: 0;
}
.sorting li {
	margin: 0;
	display:inline;
	color: #b0b0b0;
}
.sorting li:after {
	content: '/';
}
.sorting li:last-child:after {
	content: '';
}
.sorting li a {
	padding: 8px;
}
.sorting li:hover a {
	color: #00b0ca;
}
.sorting li.on a {
	color: #00b0ca;
}
.pagination {
	display:block;
	clear:both;
	text-align:center;
	margin:10px 0;
	font-size:12px;
}
.pagination a {
	padding: 0 4px;
}
.image {display: block;clear: both;}
.image img {clear: both; margin-bottom: 10px;max-width: 900px;}
@media screen and (max-width: 1500px) {
	html {
		background: url(../images/backgrounds/bg-right-1000.gif) #fff no-repeat right top;
	}
	body {
		background: url(../images/backgrounds/bg-left-1000.gif) no-repeat left top;
	}
}
@media screen and (max-width: 900px) {
	html {
		background: #fff no-repeat right top;
	}
	body {
		background: none;
	}
	.gallery .box {
		float: left;
		margin: 10px;
		width: 260px;
		height: 154px;
	}
	.gallery .box img {
		width: 260px;
		height: 154px;
	}
	.gallery .desc {
		width: 250px;
	}
}
@media screen and (max-width: 480px) {
	.container {
		width: 440px;
	}
	.container .top {
		height: 40px;
		padding-top: 10px;
	}
	.container .top img {
		height: 30px;
	}
	.container .top span {
		margin-top: 3px;
		font-size: 16px;
	}
	#content {
		padding: 0px 5px;
	}
	.work {
		float: none;
		height: auto;
		margin-bottom: 10px;
		width: auto;
	}
	.work a {
		font-size: 16px;
	}
	.string {
		margin-bottom: -20px;
	}
	.about {
		float: none;
		width: auto;
		padding-bottom: 10px;
	}
	.about h2 {
		margin-bottom: 5px;
	}
	.small {
		padding: 0;
		margin: 0;
	}
	.small h1 {
		margin: 0;
		height: 10px;
	}
	.small .string {
		display: block;
		margin: 0;
	}
	.gallery .box {
		width: 410px;
		height: 243px;
	}
	.gallery .box img {
		width: 410px;
		height: 243px;
	}
	.gallery .desc {
		width: 400px;
	}
	.pagination {
	display:block;
	clear:both;
	text-align:center;
	margin:20px 0;
	font-size:12px;
}

}