[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/params"]
	path = modules/params
	url = git@github.com:TdroL/kohana-params.git
[submodule "modules/jelly-torn"]
	path = modules/jelly-torn
	url = git@github.com:TdroL/kohana-jelly-torn.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = http://github.com/jonathangeiger/kohana-jelly.git

